@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: Outfit;
}
.active hr{
  @apply block
}

.dropdown-arrow, .dropdown-arrow2 {
  opacity: 0;
  transition: opacity 0.3s ease;
}


li:hover .dropdown-arrow,
.profile-container:hover .dropdown-arrow2 {
  opacity: 0.2;
}

.dropdown-content {
  display: inline-block;
  position: relative;
}

/* Initial Fade-in Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.fade-in-animation {
  animation: fadeIn 1s ease-out;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-out-animation {
  animation: fadeOut 1s ease-in;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}